.headerStyle {
    position: fixed;
    text-align: center;
    color: #fff;
    height: 3rem;
    width: 100%;
    padding-inline: 0;
    line-height: 3rem;
    background-color: #7dbcea;
    z-index: 1;
}

.pad {
    position: relative;
    padding-top: 3rem;
    color: #000;
}